{{page-title "IH Demo"}}

<div id="app" class="container">
  <div class="header">
    {{!-- Your header content --}}
    <a href="/" class="logo">
      <img src="/IH-logo.svg" style="height: 24px; width: 24px;">
      <img class="logo-text" src="/IH-logo-text.svg">
    </a>
  </div>
  <div class="avatar">
    <img src="{{this.model.profile.displayPicture}}" class="user-link">
  </div>
  <div class="chat-ui-wrapper">
    <div id="chat-ui"></div>
  </div>
</div>

{{outlet}}